<div data-ng-class="fluidHeaderLayout ? 'container-fluid' : 'container'">
  <div class="navbar-header">
    <a class="hidden-sm hidden-md hidden-lg pull-left gn-logo-link" data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}" data-ng-hide="{{gnCfg.mods.header.isLogoInHeader}}">
      <img class="gn-logo"
           alt="{{'siteLogo' | translate}}"
           data-ng-src="{{gnUrl}}../images/logos/{{info['node/id'] || info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"/>
    </a>
    <a class="hidden-sm hidden-md hidden-lg btn btn-link pull-left"
       data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
      <span class="gn-name"
            data-ng-class="authenticated && user.isEditorOrMore() ? 'gn-truncate' : ''"
            title="{{info['system/site/name']}}">{{info['node/name'] || info['system/site/name']}}</span>
    </a>
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            title="{{'toggleNavigation' | translate}}"
            aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only" data-translate>toggleNavigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav gn-menu-xs" role="menu">
      <li class="clearfix hidden-xs" data-ng-if="gnCfg.mods.home.enabled">
        <a class="pull-left gn-logo-link" 
           data-gn-active-tb-item="{{gnCfg.mods.home.appUrl}}">
          <img class="gn-logo gn-margin-right"
               data-ng-hide="{{gnCfg.mods.header.isLogoInHeader}}"
               alt="{{'siteLogo' | translate}}"
               data-ng-src="{{gnUrl}}../images/logos/{{info['node/id'] || info['system/site/siteId']}}.png?random{{info['system/site/lastUpdate']}}"/>
          <span class="gn-name"
                data-ng-if="gnCfg.mods.header.showGNName"
                data-ng-class="authenticated && user.isEditorOrMore() ? 'gn-truncate' : ''"
                title="{{info['node/name'] || info['system/site/name']}}">
            {{info['node/name'].split('|')[0] || info['system/site/name']}}
          </span>
        </a>
      </li>
      <li class="gn-menuitem-xs" data-ng-if="gnCfg.mods.search.enabled">
        <a data-gn-active-tb-item="{{gnCfg.mods.search.appUrl}}"
          title="{{'search' | translate}}">
          <i class="fa fa-fw fa-search hidden-sm"></i>
          <span translate>search</span>
        </a>
      </li>
      <li class="gn-menuitem-xs" data-ng-if="gnCfg.mods.map.enabled">
        <a data-gn-active-tb-item="{{isExternalViewerEnabled ? externalViewerUrl : gnCfg.mods.map.appUrl}}"
          title="{{'map' | translate}}">
          <i class="fa fa-fw fa-globe hidden-sm"></i>
          <span translate>makeYourMap</span>
          <span data-gnv-layer-indicator=""/>
        </a>
      </li>
      <li class="dropdown dropdown-hover open gn-clear-xs" data-ng-if="gnCfg.mods.editor.enabled"
          data-ng-show="authenticated && user.isEditorOrMore()"
          id="gn-login-dropdown">
        <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}"
           title="{{'editorBoard' | translate}}"
           class="dropdown-toggle gn-menuheader-xs"
           role="button" aria-expanded="false">
          <i class="fa fa-fw fa-pencil hidden-sm"></i>
          <span translate>contribute</span>
        </a>
        <ul class="dropdown-menu gn-menu-xs clearfix" role="list">
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/board">
              <i class="fa fa-fw fa-bars"></i>&nbsp;<span translate>editorHome</span>
            </a>
          </li>
          <li role="separator" class="divider gn-separator-xs"></li>
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/create">
              <i class="fa fa-fw fa-plus"></i>&nbsp;<span translate>addRecord</span>
            </a>
          </li>
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/import">
              <i class="fa fa-fw fa-upload"></i>&nbsp;<span translate>ImportRecord</span>
            </a>
          </li>
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/directory">
              <i class="fa fa-fw fa-bookmark"></i>&nbsp;<span translate>directoryManager</span>
            </a>
          </li>
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/batchedit">
              <i class="fa fa-fw fa-pencil"></i>&nbsp;<span translate>batchEditing</span>
            </a>
          </li>
          <li class="gn-menuitem-xs" role="menuitem" ng-if="user.isAdministratorOrMore() && healthCheck.IndexHealthCheck === true">
            <a data-gn-active-tb-item="{{gnCfg.mods.editor.appUrl}}#/accessManager">
              <i class="fa fa-fw fa-lock"/>&nbsp;<span data-translate="">accessManager</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-hover open" data-ng-show="user.isUserAdminOrMore()">
        <a data-gn-active-tb-item="admin.console"
           title="{{'adminConsole' | translate}}"
           class="dropdown-toggle gn-menuheader-xs"
           role="button" aria-expanded="false">
          <i class="fa fa-fw fa-wrench hidden-sm"></i>
          <span translate>adminConsole</span>
        </a>
        <ul data-ng-if="user.isUserAdmin()" class="dropdown-menu gn-menu-xs" role="list">
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="admin.console#/home">
              <i class="fa fa-fw fa-th"></i>&nbsp;<span translate>adminHome</span>
            </a>
          </li>
          <li role="separator" class="divider gn-separator-xs"></li>
          <li class="gn-menuitem-xs" role="menuitem" data-ng-repeat="t in userAdminMenu">
            <a data-gn-active-tb-item="admin.console{{t.route}}">
              <i class="fa fa-fw {{t.icon}}"></i>&nbsp;<span translate>{{t.name | translate}}</span>
            </a>
          </li>
        </ul>
        <ul data-ng-if="user.isAdministrator()" class="dropdown-menu gn-menu-xs" role="list">
          <li class="gn-menuitem-xs" role="menuitem">
            <a data-gn-active-tb-item="admin.console#/home">
              <i class="fa fa-fw fa-th"></i>&nbsp;<span translate>adminHome</span>
            </a>
          </li>
          <li role="separator" class="divider gn-separator-xs"></li>
          <li class="gn-menuitem-xs" role="menuitem" data-ng-repeat="t in adminMenu">
            <a data-gn-active-tb-item="{{gnCfg.mods.admin.appUrl}}{{t.route}}">
              <i class="fa fa-fw {{t.icon}}"></i>&nbsp;<span translate>{{t.name | translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li gn-static-pages-list-viewer data-section="top" data-language="{{lang}}" />
    </ul>


    <form class="navbar-form navbar-right language-switcher">
      <span class="gn-menuheader-xs visible-xs"
            data-ng-if="!authenticated && service !== 'catalog.signin' && service !== 'new.account' && (!shibbolethEnabled || (shibbolethEnabled && !shibbolethHideLogin))"
            data-translate="">language</span>
      <div class="form-group"
           data-gn-language-switcher="lang"
           data-langs="langs"
           data-lang-labels="langLabels">
      </div>
    </form>
    <!-- PRODIGE SPECIFIC-->
    <ul data-ng-if="gnCfg.mods.signin.enabled"
        class="nav navbar-nav navbar-right">
      <li data-ng-show="authenticated">
        <a>
          <user-account-expiration-msg/>
        </a>
      </li>
      <li class="dropdown dropdown-hover open" data-ng-show="authenticated">
         <a href="javascript:openUserDetails();"
           title="Afficher les informations du compte"
           class="hidden-xs btn btn-link">
          <img class="img-circle"
            data-ng-src="//gravatar.com/avatar/{{user.email | md5}}?s=18"/>&nbsp;
          <div class="gn-user-info">
            {{user.name}} {{user.surname}}<br>
            <span class="gn-user-role">{{user.profile | lowercase | translate}}</span>
          </div>
          <user-account-expiration-msg/>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{{gnCfg.mods.signout.appUrl}}"
                title="{{'signout' | translate}}">
              <i class="fa fa-sign-out"></i>&nbsp;
              {{'signout' | translate}}
            </a>
          </li>
        </ul>
      </li>
      <li data-ng-show="!authenticated && service !== 'catalog.signin' && service !== 'new.account' && !shibbolethEnabled">
        <a href="{{gnCfg.mods.signin.appUrl | signInLink}}"
           title="{{'signIn'|translate}}"
           data-ng-keypress="$event"
           data-ng-mouseover="focusLoginPopup()">
          <i class="fa fa-sign-in"/>&nbsp;
          {{'signIn' | translate}}
        </a>
      </li>
    </ul>
    <!-- PRODIGE SPECIFIC-->
  </div>
</div>
