<p>
    <div style="width: 100%; height: 100%;">
        <div class="info">
            <h3>Liens rapides</h3>
            <div class="md-view" id="tag">
            </div>
        </div>
    </div>
</p>
