
input.ng-invalid, textarea.ng-invalid 
{
  border-color: red;
}
 
#metadataCart .modal-body 
{
  overflow:auto;
  max-height : 300px;
}
 
.dropdown-menu .loading {
  font-size: 20px;
  right: 0%;
  top: 0%;
  background-color: transparent;
  left: initial;
}

.gn-resultview .gn-md-links .dropdown-menu li a {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pull-right .metadataActions{
  left : initial !important;
  right : 0 !important;
}

.big-logo{
  min-height : 50px;
  max-height : 70px;
  min-width : 50px;
  max-width : 70px;
  margin-right : 10px; 
  float:left;
}

button.prodige-menu{
  background-color:darkgreen;color:white
}
.prodige-home h1{
  font-size:34px !important;
}

.legend-metadata ul {
  padding: 5px;
}

.legend-metadata li {
  height: 30px;
  width : 360px;
  display : block;
  padding : 5px;
}
.legend-metadata .icon {
  border: solid 1px #000000;
  height: 15px;
  width: 30px;
  float: left;
  margin-right:5px;
}
li.list-group-item:hover {
  box-shadow : 5px 5px 10px -5px !important;
}

.metadata-nonGeographicDataset
{  background-color: rgba(218,218,218,1) !important; /* #DADADA */ }
//li.metadata-nonGeographicDataset:hover
//{  background-color: rgba(218,218,218,0.65) !important;  }

.metadata-vector, .metadata-dataset
{  background-color: rgba(222,236,253,1) !important; /* #DEECFD */ }
//li.metadata-vector:hover, li.metadata-dataset:hover
//{  background-color: rgba(222,236,253,0.65) !important; }

.metadata-grid, .metadata-raster
{  background-color: rgba(175,211,255,1) !important; /* #AFD3FF */ }
//li.metadata-grid:hover, li.metadata-raster:hover
//{  background-color: rgba(175,211,255,0.65) !important; }

.metadata-textTable
{  background-color: rgba(175,188,210,1) !important; /* #AFBCD2 */ }
//li.metadata-textTable:hover
//{  background-color: rgba(175,188,210,0.65) !important; }

.metadata-series
{  background-color: rgba(255,216,241,1) !important; /* #FFD8F1 */ }
//li.metadata-series:hover
//{  background-color: rgba(255,216,241,0.65) !important; }

.metadata-service
{  background-color: rgba(253,235,196,1) !important; /* #FDEBC4 */ }
//li.metadata-service:hover
//{  background-color: rgba(253,235,196,0.65) !important; }

.metadata-carte, .metadata-map
{  background-color: rgba(229,242,211,1) !important; /* #E5F2D3 */ }
//li.metadata-carte:hover, li.metadata-map:hover
//{  background-color: rgba(229,242,211,0.65) !important; }

.metadata-chart
{  background-color: rgba(220,193,241,1) !important; /* dcc1f1 */ }

table.contribute-search-results > tbody > tr > td {
  vertical-align: middle;
}

table.contribute-search-results  > tbody > tr > td .btn-group {
  display: block;
}

.open > .dropdown-menu.metadataActions {
  overflow-y: inherit;
}

/* thumbnail width */ 
.gn-md-view .gn-md-side .gn-img-thumbnail, .gn-md-view .gn-md-side .gn-img-extent {
  width: auto;
}

div[data-results=searchResults] div.gn-selection-actions li:last-child {content:'';display:none !important; }