<!-- <script type="text/javascript">
(function(){
  //var cat_contact_admin = angular.module('cat_contact_admin');
  if (module){
    module.controller('form_cat_contact_admin', [
      '$rootScope', '$scope', '$controller', '$http'
    , function($rootScope, $scope, $controller, $http){
        $scope.model = {};
        $scope.captcha = "";
        $scope.refreshCaptcha = function(){console.log('refreshCaptcha');
          $http({
            method  : 'GET',
            url : $rootScope.prodige.ip + "/include/captcha.php?rand="+Math.round(Math.random()*1000000)
          })
          .success(function(data){console.log('captcha', data);return;
            $('#captchaimg').attr('src', data.img);
            $scope.captcha = data.captcha;
          })
        };
        $scope.processForm = function(){
          if ( this.validate() ){
            $http({
              method  : 'POST',
              url     : __PRODIGE_CATALOGUE_URL__+$rootScope.prodige.routes.catalogue.contact_admin,
              data    : $.param($scope.model),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
             })
            .success(function(data) {
              console.log('submit', data);
  
            });
          }
        };
      }
    ]);
  }
})();
/*
  function contactAdmin(){
    var form=document.form_pwd;
    if ( validateEmail ){
      form.action = top.__PRODIGE_CATALOGUE_URL__+"{{ $root.prodige.usr_name }}/geosource/contact_admin";
      form.submit();
    }
   }
  function refreshCaptcha(){
    var oImg =  document.images['captchaimg'];
    if( oImg ) {
      oImg.src = oImg.src.split("?")[0]+"?rand="+Math.round(Math.random()*1000000);
    }
  }  
  function validateEmail()
  {
    var mail = document.getElementById('usr_email').value;
    var name = document.getElementById('usr_name').value;
    var firstname = document.getElementById('usr_firstname').value;
    var message = document.getElementById('message').value;
    if(name =="" || mail == "" || firstname == "" || message == ""){
      parent.Ext.Msg.alert('Contact', "Veuillez renseigner tous les champs.");
      return false;
    }
    var modele = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
    if (!modele.test(mail)){
      parent.Ext.Msg.alert('Contact', "L'adresse email est incorrecte.");
      return false
    }
    return true
  }*/
</script> -->
<div class="modal fade" id="contactAdmin" tabindex="-1" role="dialog" aria-labelledby="contactAdminLabel">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactAdminLabel">Contacter l'administrateur</h4>
      </div>
        <form name="formContactAdmin" ng-controller="formContactAdmin" ng-submit="processForm()" ng-init='refreshCaptcha()'>
      <div class="modal-body">
          <div class="form-group">
            <label for="usr_name" class="control-label">Nom</label>
            <input type="text" class="form-control"  ng-model='model.usr_name' required="required" name='usr_name' id='usr_name' >
          <div class="error help-block" ng-show="formContactAdmin.usr_name.$error.required">Saisie obligatoire</div>
          </div>
          <div class="form-group">
            <label for="usr_firstname" class="control-label">Prénom</label>
            <input type="text" class="form-control"  ng-model='model.usr_firstname' value='{{model.usr_firstname}}' required="required" name='usr_firstname' id='usr_firstname' >
          <div class="error help-block" ng-show="formContactAdmin.usr_firstname.$error.required">Saisie obligatoire</div>
          </div>
          <div class="form-group">
            <label for="usr_email" class="control-label">Courriel</label>
            <input type="email" class="form-control"  ng-model='model.usr_email' required="required" name='usr_email' id='usr_email' >
          <div class="error help-block" ng-show="formContactAdmin.usr_email.$error.required">Saisie obligatoire</div>
          <div class="error help-block" ng-show="formContactAdmin.usr_email.$error.email">Mauvais format de courriel</div>
          </div>
          <div class="form-group">
            <label for="captcha" class="control-label">Code de sécurité </label>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default"  type="button" ng-click='refreshCaptcha()' title="Cliquez sur l'image pour générer un nouveau code.">
                  <img src="" id="captchaimg">
                </button>
              </span>
              <input type="text" class="form-control" ng-model='model.captcha' name='captcha' id='captcha' value="" required="required" >
            </div>
            <div class="error help-block" ng-show="formContactAdmin.captcha.$error.required">Saisie obligatoire</div>
          </div>
          <div class="form-group">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control" ng-model='model.message' required="required" name="message" id="message"></textarea>
          <div class="error help-block" ng-show="formContactAdmin.message.$error.required">Saisie obligatoire</div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary" name="VALIDATION">Valider</button>
      </div>
        </form>
    </div>
  </div>
</div>