<div class="modal fade"  ng-controller="extMessages" id="extMessages" tabindex="-1" role="dialog" aria-labelledby="ext-messages-title">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ext-messages-title">{{ title }}</h4>
      </div>
      <div class="modal-body" ng-bind-html="body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"" style="display:none" id="autoclose">autoclose</button>
      <div ng-if="modaltype == 'alert'">
        <button type="button" class="btn btn-default" data-dismiss="modal"" ng-click="confirmFn('ok')">OK</button>
      </div>
      <div ng-if="modaltype == 'confirm'">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmFn('yes')">Oui</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
      </div>
      </div>
    </div>
  </div>
</div>