<div class="modal fade"  ng-controller="harvestedSynchronization" id="harvestedSynchronization" tabindex="-1" role="dialog" aria-labelledby="harvestedSynchronisationLabel">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="harvestedSynchronisationLabel">Paramétrer la synchronisation des données SIG de la métadonnée</h4>
      </div>
      <div class="modal-body">
      <table class="table table-striped table-hover table-bordered table-responsive">
        <ng-repeat ng-repeat="source in metadataSources">
        <tr>
        <td colspan="2">
          <div class='synchronisation-source'>
            <div class='source-name'>{{ source.title }}</div>
            <div class='source-description'>{{ source.description }}</div>
          </div>
        </td>
        <td>
          <input type="radio" name="import_data_source" value="{{ link.url }}"/>
        </td>
        </tr>
        <tr ng-repeat="link in sources.links">
          <td>&nbsp;</td>
          <td>
            <div class='synchronisation-source'>
              <div class='source-name'>{{ link.title }}</div>
              <div class='source-description'>{{ link.description }}</div>
            </div>
          </td>
          <td>
            <input type="radio" name="import_data_source" value="{{ link.url }}"/>
          </td>
        </tr>
        </ng-repeat>
        <tr class="animate-repeat" ng-if="metadataSources.length == 0">
          <td><strong>Aucun lien de téléchargement des données défini...</strong></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>