<div class="modal fade" ng-controller="helpModal" id="helpModal"
  tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="helpModalLabel">Aide</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="elt in help" class="thumbnail">
          <div class="row gn-md-title">
            <h4>
              <a ng-href="{{ elt.url }}" title="{{ elt.title }}"
                target="_blank" class="ng-binding"> <i
                class="fa gn-icon-series" title="dataset"></i> {{ elt.title }}
              </a>
            </h4>
            {{ elt.desc }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>