<script type="text/javascript" src='../../catalog/views/apps_extend/panier.js'></script>
<div class="modal fade"  ng-controller="metadataCart" ng-init='initMetadataCart()' id="metadataCart" tabindex="-1" role="dialog" aria-labelledby="contactAdminLabel">
  <div  class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactAdminLabel">
        Données choisies <ng-pluralize count="metadatas.length" when="{'0': '', 'one': '(1 élément)', 'other': '({} éléments)'}"></ng-pluralize>
        </h4>
      </div>
      <div class="modal-body">
      <table class="table table-striped table-hover table-bordered table-responsive">
        <tr ng-repeat="ametadata in metadatas | orderBy:'title'">
        <td>{{ ametadata.title }}</td>
        <td class="text-center" style="vertical-align:middle;">
        <span ng-show="ametadata.can_storage===null">Vérification des droits</span>
          <a href="" class="btn btn-xs btn-link"
             title="Retirer des données choisies"
             ng-click="panier_retirer(ametadata)">
             <i class="fa fa-times delete" style="vertical-align:baseline;"></i>
          </a>
        </td>
        </tr>
        <tr class="animate-repeat" ng-if="metadatas.length == 0">
          <td><strong>Aucune métadonnée...</strong></td>
        </tr>
      </table>
      </div>
      <div class="modal-footer" ng-if="metadatas.length > 0">
        <button type="button" class="btn btn-primary" ng-click="panier_downloadParametrage()"><span class="fa fa-download"></span>&nbsp;Télécharger</button>
        <button type="submit" class="btn btn-primary" ng-click="panier_covisualiser()"><span class="fa fa-eye"></span>&nbsp;Co-visualiser</button>
        <button type="submit" class="btn btn-default" ng-click="panier_vider()"><span class="fa fa-eraser"></span>&nbsp;Vider</button>
      </div>
    </div>
  </div>
</div>
