<!-- <colored ng-init="setMetadataDecoration()"></colored> -->

          <div class="btn-group"
               ng-show="$root.prodige.loaded">
            <button type="button"
                    class="btn btn-default dropdown-toggle prodige-menu"
                    ng-class="prodigeIsContributeMenu ? 'btn-xs' : ''"
                    data-toggle="dropdown"
                    title="Actions"  ng-show="setMetadataDecoration()"
                    ng-click="initMetadataActions()">
              <span class="fa fa-plus"></span>
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right metadataActions" role="menu">
            <span class="loading fa fa-spinner fa-spin" ng-show="getting_rights"></span>
            </div>
          </div>


          <div class="btn-group" ng-repeat="link in ::catalogue_actions"
               data-ng-class="::catalogue_actions.length > 0 ? '' : 'invisible'">
            <button type="button"
                    class="btn btn-default"
                    ng-click="link.url()" title="{{::link.desc}}">
              <img data-ng-src="{{::link.icon}}"/>
            </button>
          </div>
