<div ng-if="$root.prodige.loaded">
  <!-- Actions complémentaires ajoutées à la barre d'outils -->
  <ul class="nav navbar-nav navbar-right">
    <li __data-ng-show="authenticated">
      <a data-toggle="modal" data-target="#metadataCart"
         title="Données choisies"
         class="hidden-xs btn btn-link">
        <i class="fa fa-star"></i>&nbsp;
        Données choisies
      </a>
    </li>
    <li ng-if="$root.prodige.PRO_CATALOGUE_CONTACT_ADMIN == 'on'">
      <a data-toggle="modal" data-target="#contactAdmin" ng-click="initContactForm()"
         title="Contacter l'administrateur"
         class="hidden-xs btn btn-link">
        <i class="fa fa-envelope"></i>&nbsp;
        Contacter l'administrateur
      </a>
      <ng-include src="'../../catalog/views/apps_extend/templates/contact-admin.html'"></ng-include>
    </li>
    <li ng-if="$root.prodige.PRO_CATALOGUE_NB_SESSION_USER == 'on'">
    <a  class="hidden-xs btn btn-link">
          <b>#</b><ng-pluralize count="$root.prodige.sessionNumber"
                 when="{'0': '0 visiteur',
                     'one': '1 visiteur',
                     'other': '{} visiteurs'}"></ng-pluralize>
    </a>
    </li>
    <li class="dropdown dropdown-hover open">
        <a data-gn-active-tb-item="admin.console"
           title="Autres actions"
           class="dropdown-toggle"
           role="button" aria-expanded="false">
          <i class="fa fa-wrench"></i>
          <span class="hidden-sm">Autres actions</span>
        </a>
      <ul class="dropdown-menu">
        <li ng-if="$root.prodige.routes.catalogue.carteperso"><a data-gn-active-tb-item="{{ $root.prodige.routes.catalogue.carteperso }}" target="_blank"><i class="fa fa-fw fa-globe"></i> Cartes personnelles</a></li>
        <li ng-if="$root.prodige.routes.admin.prodige_admin"><a data-gn-active-tb-item="{{ $root.prodige.routes.admin.prodige_admin }}"  target="_blank"><i class="fa fa-fw fa-group"></i> Administration générale</a></li>
        <li ng-if="$root.prodige.routes.admin.prodige_adminsite"><a data-gn-active-tb-item="{{ $root.prodige.routes.admin.prodige_adminsite }}"  target="_blank"><i class="fa fa-fw fa-cogs"></i> Administration de la plate-forme</a></li>
        <li ng-if="$root.prodige.routes.admin.prodige_standards"><a data-gn-active-tb-item="{{ $root.prodige.routes.admin.prodige_standards }}"  target="_blank"><i class="fa fa-fw fa-thumbs-up"></i> Module qualité</a></li>
        <li ng_if = "$root.prodige.routes.admin.optional.catalogue_opendata"><a href="{{ $root.prodige.routes.admin.optional.catalogue_opendata }}"  target="_blank"><i class="fa fa-fw fa-paper-plane"></i> Moissonnage DCAT</a><li>
        <li ng-if="$root.prodige.routes.admin.prodige_base_territoriale"><a data-gn-active-tb-item="{{ $root.prodige.routes.admin.prodige_base_territoriale }}"  target="_blank"><i class="fa fa-fw fa-outdent"></i> Module base territoriale</a></li>
        <li><a data-toggle="modal" data-target="#helpModal" class="btn-link"><i class="fa fa-fw fa-question-circle"></i> Aide</a></li>
      </ul>
    </li>
  </ul>

  <ng-include src="'../../catalog/views/apps_extend/templates/metadata-cart.html'"></ng-include>
  <ng-include src="'../../catalog/views/apps_extend/templates/help-modal.html'"></ng-include>
  <ng-include src="'../../catalog/views/apps_extend/templates/ext-messages.html'"></ng-include>

</div>
