.nonGeographicDataset
{
	background-color: #DADADA !important;
}

.vector
{
	background-color: #DEECFD !important;
}

.grid
{
	background-color: #AFD3FF !important;
}

.textTable
{
	background-color: #AFBCD2 !important;
}

.series
{
	background-color: #FFD8F1 !important;
}

.carte
{
	background-color: #E5F2D3 !important;
}

.service
{
	background-color: #FDEBC4 !important;
}

/**
 * style boutons "Actions"
 */
.md-view ul li * h1 span a {
	color: #007600;
	font-size: 15px;
}
.info {
    float: left;
    height: 40%;
}
.md-info {
    height: auto !important;
}